[submodule "VMKL"]
	path = VMKL
	url = https://github.com/vilnius/VMKL.git
[submodule "centro-poliklinika"]
	path = centro-poliklinika
	url = https://github.com/vilnius/centro-poliklinika
[submodule "VRMMC"]
	path = VRMMC
	url = https://github.com/vilnius/VRMMC.git
[submodule "antakalnio-poliklinika"]
	path = antakalnio-poliklinika
	url = https://github.com/vilnius/antakalnio-poliklinika.git
[submodule "karoliniskiu-poliklinika"]
	path = karoliniskiu-poliklinika
	url = https://github.com/vilnius/karoliniskiu-poliklinika
[submodule "naujininku-poliklinika"]
	path = naujininku-poliklinika
	url = https://github.com/vilnius/naujininku-poliklinika
[submodule "seskines-poliklinika"]
	path = seskines-poliklinika
	url = https://github.com/vilnius/seskines-poliklinika.git
	branch = master
[submodule "grigiskiu-spc"]
	path = grigiskiu-spc
	url = https://github.com/vilnius/grigiskiu-spc.git
	branch = master
